{#
# Copyright (C) 2025 The Qt Company Ltd.
# SPDX-License-Identifier: LicenseRef-Qt-Commercial OR GPL-3.0-only WITH Qt-GPL-exception-1.0
#}
{% import 'common/qtif_macros.jinja' as qtif %}
{% include "common/generated_comment.cpp.jinja" %}

#include "{{module.module_name|lower}}_mqtt_helper.h"

using namespace Qt::StringLiterals;

{{ module|begin_namespace }}

{% for struct in module.structs %}
template <> QByteArray toMqttMessage(const {{struct}} &value)
{
    return QJsonDocument::fromVariant(value.toVariant()).toJson(QJsonDocument::Compact);
}

{% endfor %}

{% for enum in module.enums %}
template <> QByteArray toMqttMessage(const {{module.module_name|upper_first}}::{{enum|flag_type}} &value)
{
    return toMqttMessage(int(value));
}
{% endfor %}

template <> QVariant fromMqttMessage<QVariant>(const QVariant &variant, bool *ok)
{
    if (ok)
        *ok = true;
    return variant;
}

template <> QVariant fromMqttMessage<QVariant>(const QByteArray &message, bool *ok)
{
    // 'var' values are transported as their textual representation over MQTT,
    // so decode them as a string instead of an opaque byte array.
    if (ok)
        *ok = true;
    return QVariant(QString::fromUtf8(message));
}

{% for struct in module.structs %}
template <> {{struct}} fromMqttMessage<{{struct}}>(const QVariant &variant, bool *ok)
{
    {{struct}} struct_type;
    struct_type.fromVariant(variant);
    if (ok)
        *ok = true;
    return struct_type;
}

template <> {{struct}} fromMqttMessage<{{struct}}>(const QByteArray &message, bool *ok)
{
    QJsonParseError error;
    QVariant value = QJsonValue::fromJson(message, &error).toVariant();
    if (error.error != QJsonParseError::NoError) {
        if (ok)
            *ok = false;
        return {{struct}}();
    }
    return fromMqttMessage<{{struct}}>(value, ok);
}


{% endfor %}

{% for enum in module.enums %}
template <> {{module.module_name|upper_first}}::{{enum|flag_type}} fromMqttMessage<{{module.module_name|upper_first}}::{{enum|flag_type}}>(const QVariant &variant, bool *ok)
{
    QVariant convertedValue = variant;
    bool success = !convertedValue.canConvert<{{module.module_name|upper_first}}::{{enum|flag_type}}>() && !convertedValue.convert(QMetaType::fromType<{{module.module_name|upper_first}}::{{enum|flag_type}}>());
    if (ok)
        *ok = success;
    {{module.module_name|upper_first}}::{{enum|flag_type}} enumValue = {{module.module_name|upper_first}}::to{{enum|flag_type}}(convertedValue.toUInt(), ok);
    return enumValue;
}

{% endfor %}


{{ module|end_namespace }}
