{#
# Copyright (C) 2025 The Qt Company Ltd.
# SPDX-License-Identifier: LicenseRef-Qt-Commercial OR GPL-3.0-only WITH Qt-GPL-exception-1.0
#}
{% import 'common/qtif_macros.jinja' as qtif %}
{% include "common/generated_comment.cpp.jinja" %}
{% set oncedefine = '{0}_MQTT_HELPER_H_'.format(module.module_name|upper) %}
#ifndef {{oncedefine}}
#define {{oncedefine}}

#include "{{module.module_name|lower}}factory.h"

using namespace Qt::StringLiterals;

{{ module|begin_namespace }}

QByteArray toMqttMessage(const QVariant &value);
QByteArray toMqttMessage(const QVariantList &value);
QByteArray toMqttMessage(bool value);
QByteArray toMqttMessage(const QList<bool> &value);
QByteArray toMqttMessage(double value);
QByteArray toMqttMessage(const QList<double> &value);
QByteArray toMqttMessage(int value);
QByteArray toMqttMessage(const QList<int> &value);
QByteArray toMqttMessage(const QString &value);
QByteArray toMqttMessage(const QList<QString> &value);
{% for struct in module.structs %}
QByteArray toMqttMessage(const {{struct}} &value);
QByteArray toMqttMessage(const QList<{{struct}}> &value);
{% endfor %}
{% for enum in module.enums %}
QByteArray toMqttMessage({{module.module_name|upper_first}}::{{enum|flag_type}} value);
QByteArray toMqttMessage(const QList<{{module.module_name|upper_first}}::{{enum|flag_type}}> &value);
{% endfor %}

template <typename T> T fromMqttMessage(const QVariant &value, bool *ok)
{
    QVariant convertedValue = value;
    bool success = convertedValue.canConvert<T>() && convertedValue.convert(QMetaType::fromType<T>());
    if (ok)
        *ok = success;
    return convertedValue.value<T>();
}
template <typename T> T fromMqttMessage(const QByteArray &message, bool *ok)
{
    QVariant value = QVariant::fromValue(message);
    return fromMqttMessage<T>(value, ok);
}

template <> QVariant fromMqttMessage(const QByteArray &message, bool *ok);

{% for type in ("bool", "int", "float", "QString", "QVariant") %}
template <> QList<{{type}}> fromMqttMessage(const QByteArray &message, bool *ok);
{% endfor %}

{% for struct in module.structs %}
template <> {{struct}} fromMqttMessage(const QVariant &value, bool *ok);
template <> {{struct}} fromMqttMessage(const QByteArray &message, bool *ok);
template <> QList<{{struct}}> fromMqttMessage(const QByteArray &message, bool *ok);
{% endfor %}
{% for enum in module.enums %}
template <> {{module.module_name|upper_first}}::{{enum|flag_type}} fromMqttMessage(const QVariant &value, bool *ok);
template <> {{module.module_name|upper_first}}::{{enum|flag_type}} fromMqttMessage(const QByteArray &message, bool *ok);
{% endfor %}

{{ module|end_namespace }}

#endif // {{oncedefine}}
