{#
# Copyright (C) 2025 The Qt Company Ltd.
# SPDX-License-Identifier: LicenseRef-Qt-Commercial OR GPL-3.0-only WITH Qt-GPL-exception-1.0
#}
{% import 'common/qtif_macros.jinja' as qtif %}
{% include "common/generated_comment.cpp.jinja" %}
{% set oncedefine = '{0}_MQTT_HELPER_H_'.format(module.module_name|upper) %}
#ifndef {{oncedefine}}
#define {{oncedefine}}

#include "{{module.module_name|lower}}factory.h"

#include <QJsonDocument>
#include <QJsonArray>
#include <QJsonObject>

using namespace Qt::StringLiterals;

{{ module|begin_namespace }}

template <typename T> QByteArray toMqttMessage(const T &value)
{
    return QVariant::fromValue(value).toByteArray();
}

template <typename T> QByteArray toMqttMessage(const QList<T> &value)
{
    QList<QByteArray> data;
    for (auto val : value)
        data += toMqttMessage(val);
    return "[" + data.join(",") + "]";
}

{% for struct in module.structs %}
template <> QByteArray toMqttMessage(const {{struct}} &value);
{% endfor %}
{% for enum in module.enums %}
template <> QByteArray toMqttMessage(const {{module.module_name|upper_first}}::{{enum|flag_type}} &value);
{% endfor %}




template <typename T> T fromMqttMessage(const QVariant &variant, bool *ok)
{
    QVariant value = variant;
    bool success = value.canConvert<T>() && value.convert(QMetaType::fromType<T>());
    if (ok)
        *ok = success;
    return value.value<T>();
}

template <typename T> typename std::enable_if_t<!QtPrivate::IsSequentialContainer<T>::Value, T> fromMqttMessage(const QByteArray &message, bool *ok)
{
    QVariant value = QVariant::fromValue(message);
    return fromMqttMessage<T>(value, ok);
}

template <typename T> typename std::enable_if_t<QtPrivate::IsSequentialContainer<T>::Value, T> fromMqttMessage(const QByteArray &message, bool *ok)
{
    if (ok)
        *ok = false;

    T list;
    const QJsonDocument doc = QJsonDocument::fromJson(message);
    if (!doc.isArray())
        return {};

    for (auto value : doc.array()) {
        bool val_ok = false;
        list.append(fromMqttMessage<typename T::value_type>(value.toVariant(), &val_ok));

        if (!val_ok)
            return {};
    }
    if (ok)
        *ok = true;

    return list;
}


template <> QVariant fromMqttMessage<QVariant>(const QVariant &variant, bool *ok);
{% for struct in module.structs %}
template <> {{struct}} fromMqttMessage<{{struct}}>(const QVariant &variant, bool *ok);
template <> {{struct}} fromMqttMessage<{{struct}}>(const QByteArray &message, bool *ok);

{% endfor %}
{% for enum in module.enums %}
template <> {{module.module_name|upper_first}}::{{enum|flag_type}} fromMqttMessage<{{module.module_name|upper_first}}::{{enum|flag_type}}>(const QVariant &variant, bool *ok);
{% endfor %}

{{ module|end_namespace }}

#endif // {{oncedefine}}
