{#
# Copyright (C) 2021 The Qt Company Ltd.
# Copyright (C) 2019 Luxoft Sweden AB
# Copyright (C) 2018 Pelagicore AG
# SPDX-License-Identifier: LicenseRef-Qt-Commercial OR GPL-3.0-only
#}
{#
This one is intentionally left with legacy extension to trigger the removal of
deprecated .tpl files from templates/common in Qt 7.
#}
{% include "common/generated_comment.cpp.tpl" %}

#include <QTest>

class CustomTest : public QObject
{
    Q_OBJECT

public:
    CustomTest();

private slots:
    void initTestCase();
};
